$cor-principal: #9400FF;
$cor-secundaria: #E4F1FF;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto ($cor-de-fundo, $cor-de-texto) {
    width: 50%;
        background-color: $cor-de-fundo;
        .texto {
            color: $cor-de-texto;
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
        }
}

body {
    @include reset();
}

.container {
    display: flex;   
    height: 100vh;
    .esquerdo {
        @include cor-e-texto($cor-principal, $cor-secundaria);
    }
    .direito {
        @include cor-e-texto($cor-secundaria, $cor-principal);
    }
}